
@font-face {
  font-family: Graduate;
  src: url(fonts/Graduate-Regular.ttf)
}

@font-face {
  font-family: GentiumBookBasic;
  src: url(fonts/GentiumBookBasic-Regular.ttf)
}

@font-face {
  font-family: ShareTechMono;
  src: url(fonts/ShareTechMono-Regular.ttf)
}

h1, h2, h3, h4, h5, h6 {
  font-family: Graduate;
  font-weight: bold;
  color: #58180d;
}

code {
  font-family: ShareTechMono;
  font-weight: bold;
  color: #58180d;
}

.w3-bar {
  font-family: Graduate;
  background-color: #58180d;
  color: #f3f3f3;
}

.w3-bar-item {
  font-family: Graduate;
}

.w3-sidebar, .w3-card-4, .w3-card-4 > .w3-container > p {
  background-color: #d9d9d9;
}

.w3-card-4 > .w3-button {
  background-color: #d9d9d9;
}

h3 > .w3-tag {
	font-size: 12pt;
}

.sidebar-header {
  background-color: #58180d;
  vertical-align: middle;
  height: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidebar-header > h3 {
  color: #f3f3f3;
  font-size: 24pt;
}

.bar-header {
	font-weight: bold;
}

.w3-content {
  padding-left: 16px;
  padding-right: 16px;
}

body, p {
  background-color: #efefef;
  font-family: GentiumBookBasic;
  font-size: 16pt;
}

table {
  font-size: 14pt;
}

